# リスト
複数のデータ要素をまとめて扱う。  
リストでは構成する要素としてあらゆるデータを指定できる。  
リスト内に異なるデータ型の要素が混ざっていても良い。

In [5]:
numbers = [0,1,2,3,4,5]
print(numbers)
type(numbers)

[0, 1, 2, 3, 4, 5]

list

In [7]:
fruits = ['apple', 'banana', 'cherry']

In [9]:
mix = [1, 'apple', 2, 'banana']
mix

[1, 'apple', 2, 'banana']

In [1]:
# 空リスト
empty = []
empty

[]

## リストとインデックス
インデックスの指定は文字列型と同じで、0から始まる。

In [2]:
abcd = ['a', 'b', 'c', 'd']
abcd[2]

'c'

リストは文字列とは違って変更可能である。  
インデックスを指定して、データを代入することで要素を変更できる。

In [19]:
abcd = ['1', 'b', 'c', 'd']
abcd[1] = ''
abcd

['1', '', 'c', 'd']

In [6]:
abcd = ['1', 'b', 'c', 'd']
abcd[1:3]

['b', 'c']

In [7]:
abcd = ['1', 'b', 'c', 'd']
abcd[0:4:2]

['1', 'c']

In [1]:
# 練習 偶数番目のインデックスを除去する。
def remove_evenindex(ln):
     ln2= ln[1::2] 
     return ln2

In [2]:
print(remove_evenindex([1,2,3,4,5]))

[2, 4]

In [3]:
'hello I am john doe.'.split(' ')

['hello', 'I', 'am', 'john', 'doe.']

## 多重リスト
リストはリストそのものをリストの要素として扱うことが出来る。

In [4]:
# n重リスト。これは二重リストである。
lns = [[1,2,3], [10,20,30], ['a', 'b', 'c']]

多重リストにおいてはインデックスの指定も多重となる

In [6]:
# 2つ目のリストの1つ目の要素にアクセス
lns[1][0]

10

In [8]:
# こういうのもあり
lns2 = [lns, ['x', 1,[11,22,33]], ['y', [111,222,333]]]
lns2

[[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']],
 ['x', 1, [11, 22, 33]],
 ['y', [111, 222, 333]]]

## リストに対する関数・演算子・メソッド
### リストの要素数
組み込み関数`len`を使うことで、リスト内の要素の数を取得できる。

In [9]:
numbers = [1,2,3,4,5]
len(numbers)

5

In [35]:
# 練習 文字列中の単語の数を調べる
def count_words(str_engsentence):
    split = str_engsentence.split(' ')
    return len(split)

In [36]:
print(count_words('From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.') == 18)

True

### リストと演算子
演算子`+`によって連結、演算子`*`で連結を繰り返す。

In [14]:
numbers = [1,2,3]
numbers + ['a', 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']

In [15]:
numbers * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [16]:
(numbers + [4,5,6] )*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]