# リスト
複数のデータ要素をまとめて扱う。  
リストでは構成する要素としてあらゆるデータを指定できる。  
リスト内に異なるデータ型の要素が混ざっていても良い。

In [12]:
numbers = [0,1,2,3,4,5]
print(numbers)
type(numbers)

[0, 1, 2, 3, 4, 5]

list

In [13]:
fruits = ['apple', 'banana', 'cherry']

In [14]:
mix = [1, 'apple', 2, 'banana']
mix

[1, 'apple', 2, 'banana']

In [15]:
# 空リスト
empty = []
empty

[]

## リストとインデックス
インデックスの指定は文字列型と同じで、0から始まる。

In [16]:
abcd = ['a', 'b', 'c', 'd']
abcd[2]

'c'

リストは文字列とは違って変更可能である。  
インデックスを指定して、データを代入することで要素を変更できる。

In [17]:
abcd = ['1', 'b', 'c', 'd']
abcd[1] = ''
abcd

['1', '', 'c', 'd']

In [18]:
abcd = ['1', 'b', 'c', 'd']
abcd[1:3]

['b', 'c']

In [19]:
abcd = ['1', 'b', 'c', 'd']
abcd[0:4:2]

['1', 'c']

In [20]:
# 練習 偶数番目のインデックスを除去する。
def remove_evenindex(ln):
     ln2= ln[1::2] 
     return ln2

In [21]:
print(remove_evenindex([1,2,3,4,5]))

[2, 4]

In [22]:
'hello I am john doe.'.split(' ')

['hello', 'I', 'am', 'john', 'doe.']

## 多重リスト
リストはリストそのものをリストの要素として扱うことが出来る。

In [23]:
# n重リスト。これは二重リストである。
lns = [[1,2,3], [10,20,30], ['a', 'b', 'c']]

多重リストにおいてはインデックスの指定も多重となる

In [24]:
# 2つ目のリストの1つ目の要素にアクセス
lns[1][0]

10

In [25]:
# こういうのもあり
lns2 = [lns, ['x', 1,[11,22,33]], ['y', [111,222,333]]]
lns2

[[[1, 2, 3], [10, 20, 30], ['a', 'b', 'c']],
 ['x', 1, [11, 22, 33]],
 ['y', [111, 222, 333]]]

## リストに対する関数・演算子・メソッド
### リストの要素数
組み込み関数`len`を使うことで、リスト内の要素の数を取得できる。

In [26]:
numbers = [1,2,3,4,5]
len(numbers)

5

In [27]:
# 練習 文字列中の単語の数を調べる
def count_words(str_engsentence):
    split = str_engsentence.split(' ')
    return len(split)

In [28]:
print(count_words('From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.') == 18)

True

### リストと演算子
演算子`+`によって連結、演算子`*`で連結を繰り返す。

In [29]:
numbers = [1,2,3]
numbers + ['a', 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']

In [30]:
numbers * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
(numbers + [4,5,6] )*3

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [32]:
zero10 = [0] * 10
zero10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [33]:
# in演算子 >> 左辺の要素がリストに含まれていればTrueを返す。
10 in numbers

False

`in`演算子は論理演算orを簡潔に表すのに使える。  
例えばif文などの条件で

In [34]:
a1 == 1 or a1 == 3  or a3 == 7:

SyntaxError: invalid syntax (<ipython-input-34-4a32a39deea6>, line 1)

In [35]:
a1 in [1, 3, 7]:

SyntaxError: invalid syntax (<ipython-input-35-4c66b675cfab>, line 1)

とすることが出来る。  
`not in`演算子は`in`の逆を意味する。

In [36]:
# 指定した要素のインデックスを数え上げる
numbers = [0,1,2,3,4,5]
numbers.index(3)

3

In [37]:
# 指定した要素の数を返す
all20 = [20]*3
all20.count(20)

3

In [38]:
# sortメソッド（デフォルトは昇順・もとのリストに変更を加える・処理したリストを返さないので新しい変数に代入不可)
mess_num = [2,4,1,5,7,8,9]
mess_num.sort()

In [39]:
mess_num

[1, 2, 4, 5, 7, 8, 9]

In [40]:
# reverseオプションで降順
mess_num.sort(reverse=True)
mess_num

[9, 8, 7, 5, 4, 2, 1]

In [41]:
# sorted関数（こちらはもとのリストに変更を加えない・戻り値を返すため新しい変数に代入可）
mess_num2 = [3,4,1,5,7,8,6]
sorted(mess_num)

[1, 2, 4, 5, 7, 8, 9]

In [42]:
charac = ['a', 'g', 'u', 's']
sorted(charac)

['a', 'g', 's', 'u']

In [43]:
sorted(mess_num2, reverse=True)

[8, 7, 6, 5, 4, 3, 1]

## リストを操作するメソッド
メソッドや組み込み関数がリストに対して破壊的であるかどうかは、名称からなどから判断するのは難しい。

In [44]:
# append・要素の追加
numbers = [1,2,3,4,5]
numbers.append(6)
numbers

[1, 2, 3, 4, 5, 6]

In [45]:
# 任意のリストから空のリストへ特定の条件を満たす要素を追加する
numbers = [0, 1, 2, 3, 4, 5, -1, -2, -3, -4, -5]
positive = []
negative = []

for i in range(len(numbers)):
    if numbers[i] > 0:
        positive.append(numbers[i])

for n in range(len(numbers)):
    if numbers[n] < 0:
        negative.append(numbers[n])


print(positive)
print(negative)

[1, 2, 3, 4, 5]
[-1, -2, -3, -4, -5]

In [46]:
# extend・リストにリストの要素を追加する
positive.extend(negative)
positive

[1, 2, 3, 4, 5, -1, -2, -3, -4, -5]

In [47]:
# insert・インデックスを指定して要素の挿入
insert_ex = [1,2,3,4,5]
insert_ex.insert(0, 0)
insert_ex

[0, 1, 2, 3, 4, 5]

In [48]:
# remove・要素の除去
# 同じ要素が含まれる場合はインデックスが若い方から削除される。
# リストに含まれない要素を削除しようとするとエラーを返す。
numbers = [1, 2, 3, 4, 5, -1, -2, -3, -4, -5]
numbers.remove(-1)
numbers

[1, 2, 3, 4, 5, -2, -3, -4, -5]

In [49]:
# pop・リストインデックスを指定して要素を削除する。
# インデックスを指定しない場合は最後尾の要素を削除する。
numbers = [1,2,3,4,5,-1,-2,-3,-4,-5]
print(numbers.pop(3))
print(numbers)

4
[1, 2, 3, 5, -1, -2, -3, -4, -5]

In [50]:
# del・指定するリストの要素を削除する。スライスを使った指定ができる。
numbers = [1,2,3,4,5,-1,-2,-3,-4,-5]
del numbers[:]
numbers

[]

In [51]:
# reverse・リストの要素を逆順にする
numbers = [1,2,3,4,5,-1,-2,-3,-4,-5]
numbers.reverse()
numbers

[-5, -4, -3, -2, -1, 5, 4, 3, 2, 1]

In [13]:
# copy・リストを複製して、新しいリストを返す。
# 複製されたリストに何らかの変更を加えてももとにリストに影響を与えない。
numbers = [1,2,3,4,5,-1,-2,-3,-4,-5]
numbers2 = numbers.copy()
del numbers[1:3]
numbers.reverse()
print(numbers)
print(numbers2)
# このメソッドの機能を変数から変数に直で代入することで模倣した場合
# 何らかの変更を加えると新旧両方の変数に同じ変更が加えられるので注意。
charac = ['a', 'g', 'u', 's']
charac2 = charac
del charac[0:1]
charac.reverse()
print(charac)
print(charac2)

[-5, -4, -3, -2, -1, 5, 4, 1]
[1, 2, 3, 4, 5, -1, -2, -3, -4, -5]
['s', 'u', 'g']
['s', 'u', 'g']

## タプル
リストと同じようにデータの並びであり、またあらゆる種類のデータを要素にすることが出来る。  
ただし、リストと違って要素の変更が不可となる。  
つまりリストに使用することのできた、要素を操作するメソッドや組み込み関数は使用不可となる。  
リストと比べると一見不便に思えるがタプルのほうが実装の効率が良いので、変更の予定がないデータを  
扱う際はタプルを選択したほうが良い。  
  
例えば、関数が複数の値をリストにして返し、呼び出し側がすぐにリストをバラバラにして値を取り出すような場合は  
リストよりタプルのほうが適している。  
あるいは、平面上の点を表す場合、$x$座標と$y$座標を別々に取り出す必要がない場合はタプルを使用するのが自然。

In [2]:
x = 3
y = 5
point = (x, y)
point

(3, 5)

In [3]:
type(point)

tuple

In [4]:
numbers3 = (1, 2, 3)
numbers3

(1, 2, 3)

タプルは丸括弧なしでも作れる。  
値の後ろにカンマをつけるとタプルとみなされる。

In [5]:
numbers4 = 1,2,3
numbers4

(1, 2, 3)

In [7]:
one_point = 1,
one_point

(1,)

In [8]:
type(one_point)

tuple

In [9]:
# これらは不可
err_taple = ,
err_taple2 = (,)

SyntaxError: invalid syntax (<ipython-input-9-c0e7e0cf3481>, line 1)

タプルは要素の変更を許可しないが、組み込み関数`list`を使ってリスト型データに反感することは出来る。  
リストからタプルへの変更も可能である。

In [11]:
list(numbers3)

[1, 2, 3]

In [22]:
tuple(numbers3)

(1, 2, 3)

## 練習
整数の要素からなるリスト`ln`を引数として受け取り、`ln`に含まれる要素を逆順に格納したタプルを返す関数`reverse_to_taple`を作成せよ。

In [35]:
def reverse_to_tuple(ln):
  ln.reverse()
  tran_taple = tuple(ln)
  return tran_taple

In [36]:
print(reverse_to_tuple([1,2,3,4,5]) == (5,4,3,2,1))

True

## 多重代入
多重代入では、左辺に複数の変数などを指定してタプルやリストのすべての要素を一度の操作で代入することが出来る。

In [40]:
numbers = [1,2,3,4,5]
[a,b,c,d,e] = numbers
b

2

In [44]:
# これも上と同じ結果になる
a,b,c,d,e = numbers
a

1

In [46]:
# 多重代入は文字列にも可能
a,b,c,d,e = 'hello'
a

'h'

In [47]:
# タプルにも可能
numbers5 = (1,2,3,4,5)
a,b,c,d,e = numbers5
e

5

多重代入を使うことで2つの変数に格納された値の入れ替えを行うことが出来る。

In [48]:
x = 'apple'
y = 'pen'
x, y = y, x
print(x,y)

pen apple

## リストやタプルの比較演算
数値などを比較するのに使うことの出来る比較演算は、リストやタプルにも利用できる。

In [50]:
print([1,2,3,4] == [1,2,3,4])
print([1,2,3,4] == [1,2,3])

True
False

In [51]:
print((1,2,3) == (1,2,3))
print((1,2,3) == (1,2))

True
False

In [52]:
print([1,2,3,4] != [1,2,3,4])
print([1,2,3,4] != [1,2,3])

False
True

In [53]:
print((1,2,3) != (1,2,3))
print((1,2,3) != (1,2))

False
True

大小の比較は辞書式にて行われ、最初の要素から順に評価して大小を決める。  
片方が片方を拡張したものであれば拡張されたほうが大きいと判断される。

In [4]:
print([1,2,3] <= [1,2,3])
print([1,2,3] < [1,2,3])
print([1,2,3] < [1,2,4])
print([1,2] < [1,2,3])

print((1,2,3) <= (1,2,3))
print((1,2,3) < (1,2,3))
print((1,2,3) < (1,2,4))
print((1,2) < (1,2,3))

True
False
True
True
True
False
True
True

## for文による繰り返しをリスト・タプル  
リストのそれぞれの要素に対して同じ操作を実行したい場合`for`文を使って処理する。  
  
  リスト`ln`の要素に対して`実行文`を繰り返したい場合は以下のようにする。  
  
  ```python
  for value in ln:
      実行文
  ```

In [11]:
ln = [1,2,3]
for value in ln:
    print('For loop:', value)

For loop: 1
For loop: 2
For loop: 3

`in`の後にリストを直接表記することも可能である。

In [16]:
numbers = [1,2,3,4,5]
squares = []
for x in numbers:
    if x % 2 == 1:
        squares.append(x**2)

squares

[1, 9, 25]

## 練習
整数の要素からなるリスト`ln`を引数として取り、`ln`の要素の総和を返す関数`sum_list`を作成せよ。

In [17]:
def sum_list(ln):
    int_sum =0
    for x in ln:
        int_sum += x
    return int_sum

print(sum_list([10,20,30]) == 60)
print(sum_list([-1,2,-3,4,-5]) == -3)

True
True

## for文による繰り返しと文字列
for文を使った処理は文字列全体にまたがる場合でも利用可能である。

```python
for c in str1:
    実行文
```

In [1]:
str1 = 'Apple and pen'
for c in str1:
    print(c.upper())

A
P
P
L
E

A
N
D

P
E
N