# リスト
複数のデータ要素をまとめて扱う。  
リストでは構成する要素としてあらゆるデータを指定できる。  
リスト内に異なるデータ型の要素が混ざっていても良い。

In [5]:
numbers = [0,1,2,3,4,5]
print(numbers)
type(numbers)

[0, 1, 2, 3, 4, 5]

list

In [7]:
fruits = ['apple', 'banana', 'cherry']

In [9]:
mix = [1, 'apple', 2, 'banana']
mix

[1, 'apple', 2, 'banana']

In [1]:
# 空リスト
empty = []
empty

[]

## リストとインデックス
インデックスの指定は文字列型と同じで、0から始まる。

In [2]:
abcd = ['a', 'b', 'c', 'd']
abcd[2]

'c'

リストは文字列とは違って変更可能である。  
インデックスを指定して、データを代入することで要素を変更できる。

In [19]:
abcd = ['1', 'b', 'c', 'd']
abcd[1] = ''
abcd

['1', '', 'c', 'd']

In [6]:
abcd = ['1', 'b', 'c', 'd']
abcd[1:3]

['b', 'c']

In [7]:
abcd = ['1', 'b', 'c', 'd']
abcd[0:4:2]

['1', 'c']

In [22]:
abcd = ['1', 'b', 'c', 'd']
abcd[::2] = ''
abcd

ValueError: attempt to assign sequence of size 0 to extended slice of size 2

In [31]:
def remove_evenindex(ln):
     ln2= ln[1::2] 
     return ln2

In [32]:
print(remove_evenindex([1,2,3,4,5]))

[2, 4]

In [33]:
'hello I am john doe.'.split(' ')

['hello', 'I', 'am', 'john', 'doe.']

In [35]:
def count_words(str_engsentence):
    split = str_engsentence.split(' ')
    return len(split)

In [36]:
print(count_words('From Stettin in the Baltic to Trieste in the Adriatic an iron curtain has descended across the Continent.') == 18)

True